.navbar {
    height: 14vh;
    background: #fafafa;
    display: flex;
  }
  
  .left{
    flex:1;
  }
  
  .middle{
    flex:2;
  }

  .middle>ul{
    list-style: none;
    display: flex;
    padding: 1.2rem;
  }
  
  .middle>ul>li{
    padding-left: 1.2rem;
  }
  
  .service{
    display: flex;
  }

  .down-icon{
    margin-left:0.51rem;
    margin-top:0.19rem;
  }
  
  .right{
    flex:1;
  }
  
  .ulList{
    position: relative;
    font-size: 13px;
  }
  
  .ulList:after{
  
  content: "";
  position: absolute;
  background-color: #c4990a;
  border-radius: 10px;
  height: 6px;
  width:0%;
  left:0;
  bottom:-10px;
  transition: 0.3s;
  }
  
  .ulList:hover:after{
    width:80%;
    margin-left: 1rem;
  }

  .logoicon{
    width: 100px;
    margin-left: 250px;
    /* margin-top: 25px; */
  }
  
  .ic{
    margin-top: -55px;
    /* margin-left: -35px; */
  }

.navbar-button {
  margin: 20px;
  width: 90px;
  height: 40px;
  border-radius: 5px;
  transition: all 0s ease;
  /* margin-right: 00px; */
  margin-top: 0px;
  display: inline-block;
  cursor: pointer;
  border: none;
}

.btn-1 {
  background-color: #fafafa;
  color: orange;
  border: 20px rgb(255, 165, 0);
}
.btn-1:hover {
   background-color: orange;
   color: white;
}
  